{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda de videojuegos</title>
    <link rel="stylesheet"  href="{% static 'css/style.css' %}?v=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary"  data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Tiendita</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'inicio' %}">Inicio</a>
              </li>

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'inicio' %}">Juegos</a>
              </li>
              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Categorías
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Acción</a></li>
                  <li><a class="dropdown-item" href="#">Aventura</a></li>
                  <li><a class="dropdown-item" href="#">Deportes</a></li>
                  <li><a class="dropdown-item" href="#">Estrategia</a></li>
                  <li><a class="dropdown-item" href="#">Simulación</a></li>
                  <li><a class="dropdown-item" href="#">RPG</a></li>
                  <li><a class="dropdown-item" href="#">Terror</a></li>

                  <li><hr class="dropdown-divider"></li>
                </ul>
              </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'registro' %}">Registrarse</a>
                </li>
              </ul>

              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="{%url 'login' %}">Iniciar sesión</a>
                </li>
              </ul>
              <form class="search-form" role="search">
                <input class="search-input" type="search" placeholder="Buscar" aria-label="Buscar">
                <button class="search-button" type="submit">Buscar</button>
            </form>            

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="bi bi-cart"></i>
                    </a>
                </li>
            </ul>
            
          </div>
        </div>
      </nav>
    

    <main class="container py-4">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Bienvenido a Tiendita</h1>
            </div>
        </div>
            <div class="row">
                <div class="col-md-12">
                    <p>Encontrarás los mejores juegos a los mejores precios</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center">Categorías</h2>
                </div>
            </div>

            {% for categoria in categorias %}
            <div class="row">
                <div class="col-md-4 mb-3">
                    <div class="card text-bg-dark">
                        <div id="carousel_{{ forloop.counter }}" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                {% for juego in categoria.juego_set.all %}
                                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                    <img src="{{ juego.imagen.url }}" class="card-img-top d-block w-100" alt="{{ juego.nombre }}">
                                </div>
                                {% endfor %}
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carousel_{{ forloop.counter }}" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carousel_{{ forloop.counter }}" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ categoria.nombre }}</h5>
                            <p class="card-text">{{ categoria.descripcion }}</p>
                            <button class="btn-ver">Ver juegos</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

    </main>

    <footer class="bg-dark text-light py-4">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <h5>Redes Sociales</h5>
              <ul class="list-unstyled">
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Instagram</a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <h5>Contacto</h5>
              <ul class="list-unstyled">
                <li>Teléfono: +123456789</li>
            </div>
          </div>
          <hr class="my-4">
          <p class="text-center">© 2024 Tiendita. Todos los derechos reservados.</p>
        </div>
      </footer>
      

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
