body{
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

p {
    color: white;
}

a {
    color: red;
    text-decoration: none;
}