body{
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

p {
    color: white;
}

.list-unstyled {
  color: rgb(207, 51, 51);
}

@font-face {
  font-family: '04b_03b';
  src: url('../fonts/04B_30__.TTF') format('truetype');
  font-size: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'VCR_OSD_MONO_1.001';
  src: url(../fonts/VCR_OSD_MONO_1.001.ttf) format('truetype');
  font-size: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Coolvetica';
  src: 
       url(../fonts/coolveticarg.otf) format('truetype');
  font-size: normal;
  font-weight: normal;
}


.navbar-brand{
  font-family: '04b_03b';
}

h5 {
  font-family: 'VCR_OSD_MONO_1.001';
}

li{
  font-family: 'Coolvetica';
}

.search-button{
  font-family: 'Coolvetica';
  color: white;
  background-color: rgb(204, 58, 58);
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.search-input {
  font-family: 'Coolvetica';
  color: rgb(77, 77, 77);
  background-color: black;
  border: none;
  border-radius: 5px;
  padding: 5px;


}

.btn-ver{
  font-family: 'Coolvetica';
  color: white;
  background-color: rgb(204, 58, 58);
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.img-juego{
  border-radius: 5px;
  width: 200px;
}

.text-center{
  font-family: '04b_03b';
  color: rgb(218, 46, 46);

}

p{
  font-family: 'VCR_OSD_MONO_1.001';
  color: white;
  text-align: center;
}

.card-text{
  font-family: 'Coolvetica';
  color: white;
}

.a-redireccion{
  font-family: "Coolvetica";
  color: red;
}

.card-header{
  font-family: '04b_03b';
  color: white;
  background-color: rgb(204, 58, 58);
}

.form-label{
  font-family: 'Coolvetica';
  color: white;
}

.form-control{
  font-family: 'Coolvetica';
  color: white;
  background-color: black;
  border: none;
}

.card-text{
  font-family: 'Coolvetica';
  color: white;
  text-align: left;
}

th{
  font-family: 'Coolvetica';
}

.table-container{
  margin: 0 auto;
  max-width: 800px;
}

.table{
  width: 100%;
  border-collapse: collapse;
}

.alert{
  margin-left: 150px ;
  margin-right: 150px;
  margin-top: 50px;

}